body {
  background-color: dimgray;
}

.p6 {
  opacity:40%;
}

 .pagination {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.prev-btn, .next-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.prev-btn {
  background-color: gray;
  color: #fff;
}

.prev-btn:hover {
  background-color: gray;
}

.next-btn {
  background-color: gray;
  color: #fff;
}

.next-btn:hover {
  background-color: gray;
}